<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wayfinder</title>
  </head>
  <body>
    <body>
      <h1>Wayfinder</h1>
      <p>A simple web framework built in rust</p>
    </body>
  </body>
</html>
